include mixins/_topBar

html    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript")
    script(src="http://localhost:3000/static/game.js")
    head 
        +topBar()
        h1 Game running 
    body 
        p#countdown 
        p#question 
            h2 What is 5 + 3?
            input(type="checkbox" value="a")#answerA
            label(for="answerA") A:   44
            br
            input(type="checkbox" value="b")#answerB
            label(for="answerB") B:   87
            br
            input(type="checkbox" value="c")#answerC
            label(for="answerC") C:   11
            br
            input(type="checkbox" value="d")#answerD
            label(for="answerD") D:    8
        a(href="http://localhost:3000/hub")
            button(type="button") Quit Game 
