html    
    script(src="../../scripts/countdown.js")
    head 
        h1 Game running 
    body 
        p#countdown 
            input(type="submit" value="Start Timer")#startTimer
        p#question 
            h2 question?

