p#status
p#countdown 
p#question  
button(type="button")#findGame Find Match
button(type="button")#stopSearching Stop searching
button(type="button")#joinMatch Join Match
style.
    #stopSearching {visibility: hidden;}
    #joinMatch {visibility: hidden;}