html 
    script(src='http://localhost:3000/static/login.js')
    head
    body
        p
            label(for="inputUsername")#labelUsername Username
            br
            input(type="text" title="username")#inputUsername
        p
            label(for="inputPassword")#labelPassword Password  
            br
            input(type="text")#inputPassword
        p
            button#login login
            button#register register