html 
    script(src='http://localhost:3000/static/login.js')
    head
        h1 Login
    body(onload="hello()")   
        div
            form#inputForm
                label Username 
                br
                input(type="text")#usernameInput
                br
                label Password
                br
                input(type="text")#passwordInput
                br
                input(type="submit")#submitButton
