html 
    script(src='http://localhost:3000/static/login.js')
    head
        h1#header Login
    body
        p
            label(for="inputUsername") Username
            br
            input(type="text" title="username")#inputUsername
        p
            label(for="inputPassword") Password  
            br
            input(type="text")#inputPassword
        p
            button#submitButton submit